body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow: hidden;
}

.navbar{
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -8px;
    margin-top: -8px;
    transition: 0.3s linear;
}

.navbar .nav-icon{
    height: 80%;
    margin-left: 50px;
}

.navbar .nav-link{
    position: absolute;
    right: 50px;
    display: flex;
    justify-content: end;
}

.nav-link .nav-link-a{
    height: 100%;
    width: 130px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration-line: none;
}

.nav-link .nav-link-a img{
    height: 50px;
    width: auto;
    aspect-ratio: 1/1;
} 

.nav-dropdown{
    display: none;
}

.dropdown-menu{
    display: none;
    width: 100%;
    position: fixed;
    top: 70px;
    background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-menu .nav-link-a{
    width: 100%;
    height: 70px;
    display: flex;
    padding: 0 50px;
    color: white;
}

.dropdown-menu .nav-link-a img{
    height: 50px;
    aspect-ratio: 1/1;
    margin-right: 10px;
}

/*Footer*/
#footer {
    position: fixed;
}
/* Footer styles */
.footer {
    position:fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 70px; /* Decreased height */
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -20px;
    left: 0;
    z-index: 10; /* Set z-index to be in front of waves */
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: url("/Aset/Screenshot_2024-03-22_101608-removebg-preview.png");
    background-size: 1000px 100px;
    animation: animateWaves 4s linear infinite;
    transform-origin: bottom;
    z-index: -99; /* Set z-index to be behind footer */
    opacity: .2;
}


.char-slide{
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background: pink;
}

.char-slide-curr{
    width: 100%;
    height: 100%;
}

.char-slide-child{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.char-slide-child img{
    height: 100%;
}

.char-slide .next-char{
    position: fixed;
    z-index: 99;
    width: 150px;
    background: transparent;
    border: none;
    aspect-ratio: 1/1;
    bottom: 70px;
    right: 40px;
}

.char-slide .next-char img{
    width: 100%;
}